@import 'font';
@import 'color';
@import 'icon';
@mixin gradient-line ($direction) {
    background-repeat: no-repeat;
    background-image: linear-gradient(to $direction, $startColor, $fontColor, $startColor);
    background-image: -webkit-linear-gradient(to $direction, $startColor, $fontColor, $startColor);
    background-image: -moz-linear-gradient(to $direction, $startColor, $fontColor, $startColor);
    background-image: -o-linear-gradient(to $direction, $startColor, $fontColor, $startColor);
}

@mixin layout ($direction) {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: $direction;
    -webkit-box-align: $direction;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: $direction;
    -moz-box-align: $direction;
    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: $direction;
    -ms-box-align: $direction;
    display: box;
    box-orient: horizontal;
    box-pack: $direction;
    box-align: $direction;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: $bgColor;
}

.main {
    width: 100%;
    height: calc(100% - 3.6rem);
    .container {
        width: 1.618 / 2.618 * 100%;
        height: 100%;
        float: left;
        .content {
            padding: 12rem;
            font-family: "Jour Normal";
        }
    }
    .nav {
        width: 1 / 2.618 * 100%;
        height: 100%;
        float: left;
        right: 0;
        position: relative;
        font-family: "Jour Thin";
        .sub {
            float: left;
            width: 61.8%;
            height: 100%;
            position: relative;
            background-size: 1px 100%;
            background-position: 0 0, 100% 0;
            @include gradient-line(bottom);
            @include layout(center)
        }
        .menu {
            float: left;
            width: 0.382 / 2.618 * 100%;
            height: calc(100% - 3.6rem);
            right: 0;
            position: fixed;
            background-size: 1px 100%;
            background-position: 0 0, 100% 0;
            @include gradient-line(bottom);
            @include layout((center))
        }
        ul {
            width: 100%;
            padding: 0;
            li {
                list-style: none;
                line-height: 2rem;
                padding: 0 3.6rem;
                margin: 0;
                background-size: 100% 1px;
                background-position: 0 100%, 100% 0;
                @include gradient-line(right);
                a {
                    display: block;
                    color: $lineColor;
                    text-decoration: none;
                    font-size: 1rem;
                }
            }
        }
    }
}

.copyright {
    width: 100%;
    height: 3.6rem;
    position: fixed;
    background-size: 100% 1px;
    text-align: center;
    background-position: 0 0, 100% 0;
    @include layout(center);
    @include gradient-line(right);
    p {
        padding: 1rem 0;
        margin: 0;
    }
}